<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hureinsys</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>


</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="centered">
    <form th:action="@{/login}" method="post" id="mini">
        <div id="username"><label for="usernameInput" class="control-label">Username:</label><input id="usernameInput" class="form-control" type="text" name="username"/></div>
        <div id="password"><label for="passwordInput" class="control-label">Password:</label><input id="passwordInput" class="form-control" type="password" name="password"/></div>
        <div><input type="submit" value="Sign In" class="btn btn-regular "/></div>
    </form>
</div>
</body>
</html>